<div id="leftSide">
    <div id = "tools" class="btn-group-vertical" style="margin: 0px 3px 0px 3px">
        <button id="edt" type="button" class="btn btn-default active currentTools">
            <img src="../src/app/img/edit_tool.png">
        </button>
        <button id="pt" type="button" class="btn btn-default ">
            <img src="../src/app/img/pen_tool.png">
        </button>
        <button id="tt" type="button" class="btn btn-default ">
            <img src="../src/app/img/text_tool.png">
        </button>
    </div><!--/tools button group vertical-->
</div> <!--/left side bar-->