<div id="menubar">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">WEB-EDIT</a>
            </div>
            <ul class="nav navbar-nav">
            <li class="active dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">File
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a href="#">New File</a></li>
                <li><a href="#">Open File</a></li>
                <li><a href="#">Save File</a></li>
                <li><a href="#">Save File As</a></li>
                <li><a href="#">Exit</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">view
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Zoom in</a></li>
                    <li><a href="#">Zoom out</a></li>
                    <li><a href="#">Zoom fit</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Edit Tool</a></li>
                    <li><a href="#">Pen Tool</a></li>
                    <li><a href="#">Text Tool</a></li>
                </ul>

            </li>
            <li><a href="#">Help</a></li>
            </ul>
        </div>
    </nav>
</div> <!--/menu bar-->